/新建文本文档.txt
/retest.py
/cftest.py
/log.txt
/.idea/
/mirai/
/mirai/bots/
/mirai/config/
/mirai/data/
/mirai/java/
/mirai/libs/
/mirai/plugins/
/mirai/scripts/
/mirai/tmp/
/mirai/config.json
/mirai/LICENSE
/mirai/mcl
/mirai/mcl.cmd
/mirai/mcl.jar
/mirai/mcl-installer-1.0.3-windows-amd64.exe
/mirai/README.md
/__pycache__
/pic/ggg/