[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yiri-mirai = "*"
requests = "*"
lxml = "*"
asyncio = "*"
apscheduler = "*"
yiri-mirai-trigger = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.9"
